// app global css in SCSS form
@font-face {
    font-family: 'LuckiestGuy';
    src: url('./fonts/LuckiestGuy-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}
* {
    font-family: 'Poppins', sans-serif;
}
.luckiest {
    font-family: 'LuckiestGuy', cursive;
}
.color-menu{
    color: #436f8a;
}
.left-orange{
    border-left: 5px solid #f9a825;
}
.left-purple{
    border-left: 5px solid #9c27b0;
}
.left-green{
    border-left: 5px solid #4caf50;
}
.left-pink{
    border-left: 5px solid #e91e63;
}
.left-grey{
    border-left: 5px solid #9e9e9e;
}
.left-yellow{
    border-left: 5px solid #ffeb3b;
}
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-200{
    width: 200px;
}
.table-background tr th{
  background: #061c2a;
  color: white;
}
.border-round{
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}
